.menu {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  .menu .container {
    max-width: 1500px;
    min-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .container .heading_section {
    text-align: center;
    margin-bottom: 12px;
  }
  .menu .container .heading_section p {
    color: #333;
    font-size: 18px;
    font-weight: 300;
  }
  .menu .container .dishes_container {
    display: flex;
    flex-wrap: wrap;
  }
  .menu .container .dishes_container .card {
    width: 25%;
    position: relative;
    padding: 20px 12.5px;
    margin-bottom: 12px;
    position: relative;
  }
  .menu .container .dishes_container .card img {
    width: 100%;
    height: 370px;
  }
  .menu .container .dishes_container .card h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .menu .container .dishes_container .card button {
    position: absolute;
    top: 40px;
    left: 25px;
    padding: 8px 20px;
    color: #fff;
    background: linear-gradient(186deg, black, #7e7a7a8a);
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
  .menu .container .dishes_container .card:hover img {
    transition: 0.3s;
    transform: scale(1.03);
  }
  @media (max-width: 1520px) {
    .menu .container {
      min-width: 100%;
    }
  }
  @media (max-width: 1200px) {
    .menu .container .dishes_container .card img {
      height: 325px;
    }
    .menu .container .dishes_container .card h3 {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 1000px) {
    .menu .container .dishes_container .card {
      width: 50%;
    }
    .menu .container .dishes_container .card img {
      height: auto;
    }
    .menu .container .dishes_container .card h3 {
      font-size: 1.6rem;
    }
  }
  @media (max-width: 600px) {
    .menu .container .dishes_container .card h3 {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 450px) {
    .menu .container .dishes_container .card {
      width: 100%;
      padding: 20px 0;
    }
  }