@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}

                        /* HERO SECTION COMPONENT STYLING  */
nav {
  display: flex;
  max-width: 1500px;
  min-width: 1500px;
  padding: 25px 10px 40px 10px;
  margin-bottom: 25px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
nav::after {
  content: "";
  position: absolute;
  height: 0.6px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(201, 201, 201);
}
nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
nav .navLinks {
  flex: 2;
}
nav .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navLinks .links {
  display: flex;
  gap: 25px;
}
nav .navLinks .links a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.4px;
}
nav .navLinks .links a:hover {
  color: #222;
  transition: 0.3s;
  cursor: pointer;
}
nav .menuBtn {
  padding: 8px 20px;
  color: black;
  background: transparent;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 16px;
}
nav .menuBtn:hover {
  color: #fff;
  background: #222;
  transition: 0.3s;
  cursor: pointer;
}
nav .hamburger {
  display: none;
}
nav svg {
  font-size: 1.75rem;
}
@media (max-width: 1520px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}
@media (max-width: 1100px) {
  nav {
    z-index: 20;
    position: unset;
    background: #ffffff63;
    padding: 10px 30px;
  }
  nav::after {
    content: "";
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    z-index: -1;
    transition: 0.3s;
  }
  nav .showmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    transition: 0.3s;
    margin: 0 15px;
    width: 96.7vw;
    margin-right: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  nav .showmenu .links {
    flex-direction: column;
    text-align: center;
  }
  nav .menuBtn {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}
@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

/* HERO SECTION COMPONENT STYLING  */

.heroSection {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
  align-items: center;
  background: url(../public/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0 15px;
}
.heroSection .container {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
}
.heroSection .container .banner:first-child {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.heroSection .container .banner .largeBox {
  width: 100%;
}
.heroSection .container .banner .combined_boxes {
  display: flex;
  width: 100%;
}
.heroSection .container .banner .title {
  font-size: 8.5rem;
  font-weight: 200;
}
.heroSection .container .banner .textAndLogo {
  width: 50%;
}
.heroSection .container .banner .textWithSvg {
  position: relative;
}
.heroSection .container .banner .textWithSvg img {
  position: absolute;
  right: 0;
  top: 0;
}
.heroSection .container .banner:first-child .dishes_title {
  display: none;
}
.heroSection .container .banner:first-child .imageBox {
  width: 50%;
}
.heroSection .container .banner:last-child .imageBox {
  width: 100%;
}
.heroSection .container .banner .imageBox img {
  width: 300px;
  height: 385px;
}
.heroSection .container .banner:last-child .imageBox {
  text-align: end;
}
.heroSection .container .banner:last-child {
  flex: 1;
}
@media (max-width: 1280px) {
  .heroSection .container {
    width: 100%;
    min-width: fit-content;
    padding: 30px 20px;
  }
}
@media (max-width: 1072px) {
  .heroSection .container .banner .title {
    font-size: 6.5rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 335px;
  }
}
@media (max-width: 880px) {
  .heroSection .container .banner .title {
    font-size: 6rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 265px;
  }
}
@media (max-width: 830px) {
  .heroSection .container .banner:last-child .imageBox {
    height: 350px;
  }
  .heroSection .container .banner:last-child .imageBox img {
    display: none;
  }
  .heroSection .container .banner .combined_boxes {
    flex-direction: column-reverse;
  }
  .heroSection .container .banner .textAndLogo {
    width: 100%;
    text-align: end;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 60px;
  }
  .heroSection .container .banner:last-child .dishes_title {
    margin-top: 65px;
  }
  .heroSection .container .banner .imageBox img {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .heroSection .container .banner .title {
    font-size: 4.5rem;
  }
}
@media (max-width: 520px) {
  .heroSection .container .banner:last-child .dishes_title {
    display: none;
  }
  .heroSection .container .banner:first-child .dishes_title {
    display: block;
  }
  .heroSection .container .banner:first-child {
    width: 100%;
  }
  .heroSection .container .banner:last-child {
    display: none;
  }
  .heroSection .container .banner .title {
    text-align: center;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 0;
  }
  .heroSection .container .banner .textWithSvg {
    width: fit-content;
    margin: 0 auto;
  }
  .heroSection .container .banner .textAndLogo {
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox {
    width: 100%;
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox img {
    width: 290px;
    height: 350px;
  }
}
@media(max-width: 650px){
  .heroSection{
    padding: 0;
  }
}
@media (max-width: 330px) {
  .heroSection .container .banner:first-child .imageBox img {
    width: 100%;
    height: auto;
  }
}